.header{
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding: 2rem 3rem;
}

#btn__menu{
    border: 2px solid var(--very-dark-violet);
    color: var(--very-dark-violet);
    cursor: pointer;
    display: none;
    font-size: 1.5rem;
    padding: 0.2rem 0.5rem;
}

#btn__close{
    border: 2px solid var(--very-dark-violet);
    color: var(--very-dark-violet);
    cursor: pointer;
    display: none;
    font-size: 1.5rem;
    padding: 0.2rem 0.6rem;
}

.nav__menu{
    align-items: center;
    color: var(--dark-grayish-violet);
    display: flex;
    font-weight: 600;
    text-transform: uppercase;
}

.nav__item{
    margin-left: 1.5rem;
}

.nav__item:hover{
    color: var(--very-dark-violet);
    transition: all 0.3s linear;
}

.nav__button{
    border: 2px solid var(--very-dark-violet);
    color: var(--very-dark-violet);
    cursor: pointer;
    padding: 0.6rem 1.2rem;
}

.nav__button:hover{
    background: var(--very-dark-violet);
    color: var(--very-light-gray);
}

@media screen and (max-width: 768px) {

    .header{
        background: var(--very-light-gray);
        margin: 0;
        z-index: 5;
        padding: 1rem 2rem;
    }

    #btn__menu{
        display: flex;
    }


    .nav{
        background-image: url('../../images/bg-pattern-mobile-nav.svg') bottom right;
        background: var(--very-dark-violet);
        display: flex;
        justify-content: center;
        position: absolute;
        width: 100%;
        height: 100vh;
        left: 0;
        top: -100vh;
        z-index: 1;
        transition: all 0.3s linear;
    }

    .nav__menu{
        align-items: center;
        color: var(--very-light-gray);
        flex-direction: column;
        text-align: center;
        margin-top: 1.5rem;
    }

    .nav__item{
        margin: 1.5rem auto;
    }

    .nav__button{
        border: 2px solid var(--very-light-gray);
        color: var(--very-light-gray);
        width: 100%;
        margin: 1.5rem 0 0 0;
    }
}

@media screen and (max-width: 375px) {

    .header{
        background: var(--very-light-gray);
        margin: 0;
        z-index: 5;
        height: 50px;
        padding: 1rem 2rem;
    }

    #btn__menu{
        display: flex;
    }


    .nav{
        background-image: url('../../images/bg-pattern-mobile-nav.svg') bottom right;
        background: var(--very-dark-violet);
        display: flex;
        justify-content: center;
        position: absolute;
        width: 100%;
        height: 100vh;
        left: 0;
        top: -100vh;
        z-index: 1;
        transition: all 0.3s linear;
    }

    .nav__menu{
        align-items: center;
        color: var(--very-light-gray);
        flex-direction: column;
        text-align: center;
        margin-top: 1.5rem;
    }

    .nav__item{
        margin: 1.5rem auto;
    }

    .nav__button{
        border: 2px solid var(--very-light-gray);
        color: var(--very-light-gray);
        width: 100%;
        margin: 1.5rem 0 0 0;
    }
}